html {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3.5rem;
  text-align: center;
}

article {
  code {
    font-size: 1rem;
    color: white;
    background-color: #000;
    padding: 1rem;
  }
}
